<!DOCTYPE html>
<html>
<head>
  <title>RedboothPunchCard</title>
  <link rel="shortcut icon" href="<%= asset_path('favicon.png') %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: '/layouts/header' %>
<div class="body">
  <div class="container">
    <%= yield %>
  </div>
</div>
<%= render partial: '/layouts/footer' %>
</body>
</html>
